@import "../../../styles/colors";
@import "../../../styles/variables";

.root {
  display: flex;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  margin: 4px;
}

.content {
  background-color: $whitesmoke;
  border-radius: $border-radius-l;
  width: 100%;
  height: 20px;
}

.valueContent {
  background-color: $caribbean-green;
  border-radius: $border-radius-l;
  height: 100%;
  text-align: right;
  color: $white;
  font-size: 12px;
  font-weight: 600;
}

.valueText {
  vertical-align: middle;
  padding: 4px;
}

.title {
  margin-left: 16px;
  text-transform: capitalize;
}
