// Pokemon types
$grass: #78C850;
$grass-light: #A7DB8D;
$grass-dark: #4E8234;

$water: #6890F0;
$water-light: #9DB7F5;
$water-dark: #445E9C;

$fire: #F08030;
$fire-light: #F5AC78;
$fire-dark: #9C531F;

$poison: #A040A0;
$poison-light: #C183C1;
$poison-dark: #682A68;

$flying: #A890F0;
$flying-light: #C6B7F5;
$flying-dark: #6D5E9C;

$bug: #A8B820;
$bug-light: #C6D16E;
$bug-dark: #6D7815;

$normal: #A8A878;
$normal-light: #C6C6A7;
$normal-dark: #6D6D4E;

$ghost: #705898;
$ghost-light: #A292BC;
$ghost-dark: #493963;

$steel: #B8B8D0;
$steel-light: #D1D1E0;
$steel-dark: #787887;

$dragon: #7038F8;
$dragon-light: #A27DFA;
$dragon-dark: #4924A1;

$dark: #705848;
$dark-light: #A29288;
$dark-dark: #49392F;

$electric: #F8D030;
$electric-light: #A1871F;
$electric-dark: #FAE078;

$ice: #98D8D8;
$ice-light: #BCE6E6;
$ice-dark: #638D8D;

$rock: #B8A038;
$rock-light: #D1C17D;
$rock-dark: #786824;

$ground: #E0C068;
$ground-light: #EBD69D;
$ground-dark: #927D44;

$psychic: #F85888;
$psychic-light: #FA92B2;
$psychic-dark: #A13959;

$fairy: #EE99AC;
$fairy-light: #F4BDC9;
$fairy-dark: #9B6470;

$fighting: #C03028;
$fighting-light: #D67873;
$fighting-dark: #7D1F1A;


