.root {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

@keyframes imgRotate {
  50% {
    transform: rotate(3deg);
  }
}

.image {
  max-width: 200px;
  animation-name: imgRotate;
  animation-iteration-count: infinite;
  animation-duration: 2s;
}
