@import "./../../../styles/colors.scss";
@import "./../../../styles/variables";
@import "./../../../styles/animations";

.root {
  border-radius: $border-radius-xl;
  box-shadow: rgb(0 0 0 / 30%) 1.95px 1.95px 9.6px;
  background-color: $white;
  transition: transform 0.2s;
  border: 1px solid $primary;

  &:hover {
    transform: scale(1.1);
    box-shadow: rgb(0 0 0 / 60%) 1.95px 1.95px 10.6px;
  }
}

.title {
  text-transform: capitalize;
}

.id {
  font-size: 40px;
  background-color: $primary;
  color: $white;
  font-weight: bold;
  border-top-left-radius: inherit;
  border-bottom-right-radius: inherit;
  max-width: fit-content;
  padding: 4px 10px;
}

.content {
  padding: 0px 12px 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.imageContainer {
  animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  transition: all 1s ease-in-out;
  background-color: rgba($primary, 0.2);
}
