@import "../../../styles/colors";
@import "../../../styles/variables";

.root {
  background: $primary;
  border: 1px solid $primary;
  border-radius: $border-radius-m;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: $white;
  cursor: pointer;
  display: inline-block;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
}

.root:hover,
.root:active {
  background-color: initial;
  background-position: 0 0;
  color: $primary;
}

.root:active {
  opacity: 0.5;
}

.root:disabled {
  background-color: $primary-dark;
  color: $white;
  cursor: not-allowed;
}
